.article-content {
  p {
    margin: 0 0 1em;
  }
  background-color: white;

  padding: 30px;

  border-radius: 10px;

  line-height: 2;

  font-size: 18px;
}

.article-word {
  padding: 2px 4px;

  border-radius: 4px;

  cursor: pointer;
}

.paragraph-number {
  font-weight: bold;
}

.article-word-bold {
  font-weight: bold;
}