.word-junior {
  background-color: #d9f7d9;
}

.word-high-basic {
  background-color: #d9eaff;
}

.word-high-advanced {
  background-color: #eadcff;
}

.word-adult {
  background-color: #fff3b8;
}
